[2014-05-05 02:16] lbesnard opened #16 "Adding harvester 'version' to Nagios"
Since we're moving towards an RC and prod environment more and more, its starts to be confusing (at least for me) which version is running on nsp14 (RC) and nsp9(prod). I wnat to know if the last version of my harvester is actually running, so I don't have to worry if an old version is running and has an error.
It would be good to add an id in the title of the running process in Nagios identifying

[2014-05-26 00:51] ggalibert opened #23 "talend.project with login/password in clear!"
I discovered that in my ACORN_RADIAL_NONQC project, there is my login and password written in clear in at the bottom of the talend.project file.

Is this normal???

[2014-05-26 01:53] #23 closed, assigned to nobody

[2014-08-07 06:10] xhoenner opened #52 "Views get dropped when harvesters are re-deployed"
<h3>Issue<h3>

Project officers occasionally have to modify existing harvesters to incorporate new features (e.g. new Talend components) or standardise the data processing workflow (e.g. timestamp with time zone). If changes were made to the Liquibase component used in a Talend harvester, the corresponding database schema in rc and prod has to be dropped prior to re-deploying the harvester. Droppi

[2014-08-26 07:06] mhidas opened #59 "Replace ABOS_PULSE harvester with a more general one for all data from SOTS site"
We need a new harvester (instead of the current ABOS_PULSE one) to harvest *metadata only* for all delayed-mode netCDF files from the PULSE, SAZ and SOFS moorings. Note that SOFS has many real-time and daily delayed-mode files that should **not** be included.

This data collection ("ABOS Southern Ocean Time-Series data") will only have the URL list and netCDF download options (i.e. no separate _da

[2014-08-28 08:16] mhidas opened #67 "SOOP_AUSCPR harvester updates required"
The following changes are required:
- make timestamps consistent (with timezone)
- harvest two additional tables from CMAR Geoserver:
  - imos:AUSCPR_PHYTO_TAXON_CHANGELOG
  - imos:AUSCPR_ZOOP_TAXON_CHANGELOG
- join TAXON_CHANGELOG tables to data tables in the _data views using the TAXON_NAME column as a foreign key
- Add component to update spatial extent in metadata record
  Hope this all makes

[2014-09-09 08:38] ggalibert opened #73 "Complex SQL requests and best practices in harvesters"
To @lbesnard , @bpasquer , @xhoenner and maybe others.

I would like to attract your attention on complex SQL requests that sometimes require complex joints between tables. Most of the time I have seen that you mostly use nested SELECTs to achieve such operation while you can actually explicitly write which or which type of joint you may want to perform (like INNER JOIN or LEFT OUTER JOIN) between

[2014-09-11 02:04] ggalibert opened #74 "SOOP BA harvester is missing some files"
Some files like /mnt/imos-t3/IMOS/opendap/SOOP/SOOP-BA/RV_Kaharoa/Kaharoa_20130726-20130801/IMOS_SOOP-BA_AE_20130726T151951Z__FV02_Kaharoa-ES60-38_END-20130801T222223Z_C-20140902T231252Z.nc

use global attributes like ship_... while the majority of the others use vessel_... same kind of attributes. Ex. :

:ship_name = "Kaharoa" ;
:ship_type = "Ship, research" ;
:ship_callsign = "ZM 7552" ;

VS

:v

[2014-10-19 23:54] anguss00 opened #99 "Spatial table contextParam in srs soop rad harvester"
@lbesnard
Metadata_SpatialTable context parameter changed to visualisation_wms from srs_oc_soop_rad_trajectory_map.
Metadata_SpatialResolution context parameter changed to 5 from 1.

[2014-10-20 04:41] #67 closed, assigned to lbesnard

[2014-10-29 02:52] lbesnard opened #108 "AUV_VIEWER harvester databags issue"
This harvester has been deployed on NSP14.

But the databags are incorrect. The sourceDir context should point to what is actually setup in the harvester, ie:

[code]

instead of

[code]

from
/mnt/ebs/talend/jobs/auv_viewer_track_rc-auv_viewer_track_rc/etc/auv_viewer_track_rc-auv_viewer_track_rc.conf

However it seems like /mnt/ebs/wip/AUV/auv_viewer_process is only accessible through NSP10 so th

[2014-10-29 02:53] #99 closed, assigned to nobody

[2014-11-04 06:45] #108 closed, assigned to nobody

[2014-11-17 03:55] mhidas opened #115 "ANMN_NRS_CTD_PROFILES harvester updating the wrong metadata record?"
The ANMN_NRS_CTD_PROFILES harvester has an UpdateMetadata subjob and is running without errors, but the spatial extent in the  [metadata record](https://catalogue-123.aodn.org.au/geonetwork/srv/eng/metadata.show?uuid=7b901002-b1dc-46c3-89f2-b4951cedca48) has not been updated.

In the `Metadata` context group, the value of `Metadata_UUID` is correct in `Default` context, but incorrect in `Deploymen

[2014-11-19 03:52] dnahodil opened #119 "anmn_nrs_bgc harvester: iUpdateSpatialExtent component fails"
**Observed behaviour**
On running the harvester on 14-nsp-mel, the following error occurs:

**Expected behaviour**
No exception!

[2014-11-21 05:00] lbesnard opened #122 "SRS_LJCO_AERONET"
There is a permission issue while running this harvester on nsp14. The reason seems to be the use of a tSystem component calling sed.

[code]

The context.output_file value is a context value, and part of the deployment context schema. It is not part of the databags (which should be just normal).

this sed command creates a temporary file in /tmp

Harvester runs perfectly on my machine

[2014-11-24 05:19] lbesnard opened #125 "AUV VIEWER TRACK harvester - Extremely slow Liquibase on NSP"
The AUV VIEWER TRACK harvester is extremely slow to go through the liquibase statements, even though there is no Liquibase changes.

On NSP14, for example the output of
cat /mnt/ebs/talend/jobs/auv_viewer_track_rc-auv_viewer_track_rc/log/console.2014-11-23-19-20-41.log

shows that more than 3 hours is needed to do nothing ... and sometimes it can take 6 hours.

[code]

Some investigation was done

[2014-12-02 06:20] #125 closed, assigned to nobody

[2015-01-22 23:03] jkburges opened #154 "Talend data bag keys"
I'm noting the list of unique data bag keys in the chef/talend directory, w.r.t. https://github.com/aodn/harvesters/wiki/Proposed-deployment-process-changes-for-talend-harvesters

[code]

[code]

[2015-01-22 23:13] jkburges commented on #154
I would really like the following to be discussed at the meeting but unfortunately I can't make it...

I am strongly in favour of **not** introducing a separate git repo for talend data bags, due to the complexity it would introduce (in terms of SCM workflow).  Instead, I think the config that currently resides there can *possibly* be split in to things that can remain chef managed, and things whi

[2015-02-19 02:31] #74 closed

[2015-03-01 23:47] #59 closed

[2015-03-01 23:49] #115 closed

[2015-03-01 23:52] mhidas commented on #119
This has been fixed by adding the "always run" option to the iUpdateSpatialExtent component (https://github.com/aodn/talend-components/pull/32)

[2015-03-01 23:52] #119 closed

[2015-03-02 00:02] mhidas opened #182 "ANMN_NRS_CTD_PROFILES harvester failing on new files"
Failing to harvest 4 recently published files. Messages in console.log look like this:

    In finally block
    Exception while processing /mnt/imos-t3/IMOS/opendap/ANMN/NRS/NRSROT/Biogeochem_profiles/IMOS_ANMN-NRS_CDEKOSTUZ_20100520T020500Z_NRSROT_FV01_3015.0-1-SBE19plus-45_C-20140130T091925Z.nc
    java.lang.NullPointerException
        at anmn_nrs_ctd_profiles.dataharvest_0_1.DataHarvest.iDele

[2015-03-02 05:39] mhidas opened #183 "Could we use issue labels to keep track of harvesters in need of (re-)deployment?"
It seems like a bit of an inefficient process we go through every iteration: we email Seb or Bene a list of harvesters we want re-depoyed (if we remember them all), he takes it to JPSR, and eventually they make it into an iteration.

Since every change that requires (re-)deployment of a harvester will have a PR or issue ticket here, couldn't we just have a label like `to_be_deployed` (or `TBD`), w

[2015-03-03 05:19] pblain commented on #183
@mhidas, that sounds reasonable.  As of this iteration GG and Loz should be able to deploy harvesters - so you won't be subject to the scrum cycle in any case.

[2015-03-04 00:34] mhidas commented on #183
Anyone else have any thoughts on this? If we agree it's worth doing, we'll need to get @pblain to create these labels. I don't seem to be able to.

[2015-03-04 00:55] pblain commented on #183
Happy to add the labels if you guys want me too.

[2015-03-05 03:46] mhidas commented on #182
This is a duplicate of https://github.com/aodn/content/issues/80

[2015-03-05 03:46] #182 closed

[2015-03-10 04:55] anguss00 opened #186 "Unneeded metadata context file in abos_sofs_surface_fluxes harvester"
The context file Metadata_rt_0.1.item should not be present, as it's information is duplicated in Metadata_0.1.item.
@lbesnard @danfruehauf

[2015-03-23 05:28] #122 closed

[2015-03-24 02:04] mhidas commented on #183
Ok, I've managed to create the labels I mentioned above.

@lbesnard @ggalibert @xhoenner @bpasquer When you merge a pull-request in this repo, add the `to_be_deployed` label. When they get deployed, remove that one and instead add `in_RC` or `in_production`.

You can see the harvesters waiting to be re-deployed using this link:
https://github.com/aodn/harvesters/pulls?q=is%3Apr+is%3Aclosed+label%3

[2015-03-25 04:10] lbesnard commented on #183
@mhidas :+1:  looks really good tome

[2015-03-25 04:13] lbesnard commented on #183
FIY to recreate this link , click on 'to_be_deployed' in https://github.com/aodn/harvesters/labels   and then click on the word 'closed'

[2015-03-30 00:56] mhidas opened #194 "ANMN_NRS_DAR_YON_TS warnings in log"
Just noticed the following warnings in the log from this harvester. I'm guessing this is due to incorrect context load setup or failure to tick "transmit whole context" somewhere?

[2015-03-30 00:58] mhidas opened #195 "ANMN_MHLWAVE warnings in log"
Same warnings as in #194, suggesting incorrect context load setup?

[2015-03-30 05:59] bpasquer commented on #195
I checked the harvester . The context load is correctly set . I found one error though, hence the PR i made, but i doubt it would be the cause of this warning

[2015-03-30 22:53] mhidas commented on #195
Thanks @bpasquer . I merged your PR, but I agree that's unrelated. After a quick look, I've just realised one reason this is appearing in this log and not all others may simply be that we normally disable all info/warning messages of this kind (see [Context override](https://docs.google.com/document/d/1-E05wDMvI_Yy2Zz9m3D8DCWUjjkhPDJFm_jr9TvbUgc/edit?pli=1#heading=h.5eucxwr7xoc4) section in Google

[2015-04-01 04:26] lbesnard commented on #194
@mhidas do you know what should be do to fix this ?

[2015-04-01 05:29] lbesnard commented on #194
@danfruehauf can you please change the password for both the metadata and the database ? see log above.

[2015-04-01 05:30] danfruehauf commented on #194
That's pretty bad guys. Pretty bad.

[2015-04-01 05:51] mhidas commented on #194
Sorry. My bad!

[2015-04-01 05:52] mhidas commented on #194
@lbesnard See #195 and #197 for the likely solution.

[2015-04-01 06:00] lbesnard commented on #194
FI both pwd were changed

[2015-04-13 06:36] #16 closed

[2015-04-13 06:38] #195 closed

[2015-04-13 06:41] lbesnard commented on #183
As discussed with @mhidas today, I think it would be actually better to open a new issue (with a link to the PR and the correct label) when a harvester needs to be redeploy to RC and prod. It's easier to find through Github, and in the case of many PR for one deployment, it's easier to understand the workflow in one page only.

[2015-04-13 06:42] lbesnard opened #200 "ABOS_SOFS_SURFACE_FLUXES - deployment"
in ref of https://github.com/aodn/harvesters/pull/199

[2015-04-13 06:43] #186 closed

[2015-04-13 23:37] mhidas commented on #183
Yes, let's do that!

[2015-04-14 01:12] lbesnard commented on #200
new build is on RC. harvester is queued to run today. Please check log this eve or tomorrow @mhidas
[code]

[2015-04-14 01:14] lbesnard opened #201 "srs - altimetry"
in ref of never deployed https://github.com/aodn/harvesters/commit/b9f4d0c8dd973cdd6f2462413d4d93d22f38fe7e

see comment https://github.com/aodn/content/issues/84#issuecomment-92531430

[2015-04-14 01:16] lbesnard commented on #194
in RC queue

[2015-04-15 00:49] lbesnard opened #202 "talend_build"
as well as having talend_show talend_log, It would be great to add talend_build or talend_version (useful to quickly compare with jenkins) reading the jave/***.build file.

something like ?

[code]

@danfruehauf  ?

[2015-04-15 00:51] danfruehauf commented on #202
Yep, it would be very nice, I just never got around to do it...

[2015-04-15 01:10] mhidas commented on #200
Still failing:

    Caused by: java.lang.Error: Unresolved compilation problem:
        fileId cannot be resolved or is not a field

        at abos_sofs_surface_fluxes.harvestsofsfile_0_1.HarvestSOFSFile.tPostgresqlRow_1Process(HarvestSOFSFile.java:701)
        at abos_sofs_surface_fluxes.harvestsofsfile_0_1.HarvestSOFSFile.tPostgresqlConnection_1Process(HarvestSOFSFile.java:627)

See #203  for f

[2015-04-15 01:22] mhidas commented on #194
@lbesnard Looks good. Go ahead and deploy to prod. Thanks.

[2015-04-15 02:55] lbesnard commented on #202
done
https://github.com/aodn/chef/commit/5eee57ee2324dd1f687461ee0f7daa9948691609

[2015-04-15 02:55] #202 closed

[2015-04-15 02:57] #183 closed

[2015-04-15 03:29] lbesnard commented on #200
A few things missing :
in harvestSOFSfile component in main :
 * missing intValue() for the fileId : ((Long)globalMap.get("iHarvestResources_1_FILE_ID")).intValue()
 * missing url parameter

in actual harvestSOFSfile component :
 * fileId was a string type. has to be integer
 * url context was missing
 * deploymentNo context was missing

Currently running on my machine to test that's all missing.

[2015-04-15 03:33] danfruehauf commented on #202
We usually link the PR, not the commit, so:
https://github.com/aodn/chef/pull/89

[2015-04-15 05:07] mhidas commented on #200
Ah, thanks @lbesnard ! All this was there originally. I don't know why it disappeared. Sure, if you've already made these changes, might as well commit them.

[2015-04-20 04:54] mhidas commented on #200
@lbesnard Ok, should be ready to redeploy now!

[2015-04-20 06:20] mhidas opened #204 "ANMN_NRS_BGC harvester failing"
This is due to some null-valued date fields in the CSIRO database, which we're trying to parse as a date. I've asked them whether they're allowed to be nulls. If they are, we'll need to catch this possibility in the tMap components (in subjobs `plankton_phytoplankton_harvest` and `plankton_zooplankton_harvest`)

[2015-04-20 06:33] lbesnard commented on #200
@jonescc

Can you please have a look at the log file on nsp14 ?
[code]
basically some ' it.geosolutions.geonetwork.exception.GNServerException: Error retrieving metadata in GeoNetwork' . However if I rerun the harvester, well
[code]
which seems to me like since it failed on the previous run, but still did something, well it doens't have to do it again.

[2015-04-21 03:33] lbesnard commented on #200
I guess this should get fixed by @danfruehauf 's changes https://github.com/aodn/chef-private/commit/f424ed703c99c435d0ad2880375247aa5b289469

[2015-04-21 23:40] mhidas commented on #204
This has been fixed at CSIRO. Those dates are not allowed to be null, so no need to change the harvester.

[2015-04-21 23:40] #204 closed

[2015-04-21 23:48] mhidas commented on #200
Looks like the changes in #203 are in prod now and working fine. Thanks for your persistence @lbesnard  !

[2015-04-21 23:48] #200 closed

[2015-04-21 23:51] #194 closed

[2015-04-22 00:39] lbesnard commented on #201
not to close since the bounding box is still not working.

[2015-04-22 01:19] lbesnard commented on #201
working now

[2015-04-22 01:19] #201 closed

[2015-04-22 01:31] lbesnard commented on #200
no worries

[2015-04-28 04:32] mhidas opened #208 "Update scheduled time for ABOS_SOFS harvesters"
Realtime data from the SOFS mooring are updated on opendap at 11:30am every day. Therefore it would make sense to run the harvesters for these data right after this time, i.e. at **11:35am**.

Harvesters to update:
ABOS_SOFS_SURFACE_PROPERTIES
ABOS_SOFS_SURFACE_FLUXES

@lbesnard or @ggalibert Could you please have a look at this when you get to it?

[2015-04-28 05:25] lbesnard commented on #208
@danfruehauf I know you have some ideas about triggering the harvester with the event driven system, but do you know what can be done in the meantime to improve this ?

[2015-04-28 05:30] danfruehauf commented on #208
You can trigger it at 11:35am if you want. However I highly discourage running harvesters during business hours (9-17).

[2015-04-28 06:00] lbesnard opened #209 "soop_sst-soop_sst nagios fail"
@jonescc , the soop_sst harvester is failing on nagios. The only thing I can see though on the log is this :
[code]

But I have no idea how this can be fixed ?

cheers

[2015-04-28 06:04] lbesnard opened #210 "anmn_nrs_ctd_profiles nagios failing"
[code]

@mhidas did you say you know what the issue is this morning ?

[2015-04-29 00:52] mhidas commented on #210
@lbesnard No, I was talking about the AusCPR one. This one I haven't worked out yet what the problem is, but it's already been reported in https://github.com/aodn/content/issues/80

[2015-04-29 00:52] #210 closed

[2015-05-04 05:15] lbesnard opened #213 "iNetCDFInput - issue with char"
## ISSUE - Example with Argo harvester

In subjob HarvestArgoProfile, in the profile_measurements schema from iNetcdfInput_1. If the QC variables are set up as __char, length 1__ instead of string, the values output for the QC variable will have its first value repeated N times (N = the dim of the variable).

Example, from ncdump
[code]

but querying the database, argo.profile_measurements, for th

[2015-05-04 22:00] jonescc commented on #213
Looks like I made an assumption that an array of characters should be a string in the component so the last dimension of a character array is always turned into a string. This is sometimes useful, but shouldn't be the default!  Probably should look at whether the output is meant to be a string or a character and behave accordingly.

[2015-05-05 02:09] lbesnard opened #217 "ANMN_NRS_CTD_PROFILES - deployement"
see https://github.com/aodn/harvesters/pull/212

[2015-05-06 00:43] lbesnard commented on #217
ran well on nsp14

[2015-05-06 01:16] lbesnard commented on #213
so do you mean there somehting I could do in the harvester, or it's more in the component ?

[2015-05-06 01:27] jonescc commented on #213
There's some work to change the way the component is handling this - so should go onto the backlog.  This is how the problem should be resolved rather than PO's working around the problem in each harvester - so I'd like to think it could be prioritised up the list @pblain @dnahodil

[2015-05-11 01:17] #217 closed

[2015-05-11 07:10] lbesnard opened #224 "soop_tmv_nrt - deployment"
https://github.com/aodn/harvesters/pull/219

[2015-05-11 07:48] lbesnard commented on #224
GJ @xhoenner  its fast

[2015-05-11 23:52] #224 closed

[2015-05-12 01:32] lbesnard opened #225 "deployment aodn_nt_hawksbill - gps data"
https://github.com/aodn/harvesters/pull/218
https://github.com/aodn/chef-private/pull/1437

[2015-05-13 05:38] #209 closed

[2015-06-03 06:36] lbesnard commented on #213
should be fixed now. I'll close it in a few days once the harvester will have finished running on RC

[2015-06-03 06:36] #225 closed

[2015-06-03 07:05] lbesnard commented on #208
@mhidas , this is done. Would probably be effective on Friday. Would be good though if you could make the harvester name consistent with schemas like abos_sofs_sp, abos_sofs_surfaceprop_rt_map, abos_sofs_surface_properties.

[2015-06-05 07:29] lbesnard commented on #213
@danfruehauf  please check with
[code]

if good yolo

[2015-06-09 01:40] #213 closed

[2015-06-10 03:31] mhidas opened #245 "Re-deploy ANMN_NRS_BGC harvester"
Two changes have been made that need to be re-deployed:
#243 column name change
#244 activate spatial update

[2015-06-11 01:27] mhidas commented on #52
Have we got any further in this since last year?

These days we don't drop entire schemas very often, but things do still change sometimes and even dropping a single view can lead to the same issue discussed above.

It looks to me like the metadata_summary views are not really an issue, as they don't directly reference any tables/views in other schemas. So this issue is mainly about the reporting

[2015-06-16 02:43] xhoenner commented on #52
Some of the AATAMS metadata_summary views reference tables/views in other schemas to provide metadata on each individual deployment. See parameters_mapping.aatams_sattag_nrt_metadata_summary for instance.

No, we could drop the reporting views once @jachope is done producing the reports.

[2015-06-24 23:29] #245 closed

[2015-06-24 23:40] mhidas opened #249 "ANMN_WAVE harvester indexing real-time files"
The indexed_file table in the anmn_wave schema includes many real-time files from FAIMMS. Looks like the harvester is ignoring them, i.e. they're not appearing in the layer, but they probably don't need to be there in the first place. The cause is a single wrong character in the exclude pattern: instead of `.*REAL-TIME.*\.nc`  it should be `.*REAL_TIME.*\.nc` (underscore instead of hyphen).

Not u

[2015-06-25 05:27] lbesnard commented on #249
Yeap, that's not really a bug. I wrote the harvester like this, to harvest all wave files from ANMN. I could not make the exclude work for some reason, so decided to go around this by doing a sql query filter to only deal with files containing AWAC or ADCP , done in the advanced tab of the iharvestressources component.
It's working fine this way, but feel free to modify the harvester if you want.

[2015-07-07 23:08] mhidas opened #254 "ANMN_ACIDIFICATION_NRT: data from deleted files still in database"
Data from an older version of a real-time file (long since deleted) is still in the `anmn_acidification_nrt` schema in harvest. The Talend harvester is supposed to delete these when the indexing no longer finds the file, but somehow this one was missed. What this means is when I try to download data from the collection **ANMN Acidification Moorings (AM) Sub-Facility - Near-real-time raw data** (se

[2015-07-16 04:47] lbesnard commented on #254
I also had a similar issue with AUV viewer track harvester

[2015-08-05 23:24] mhidas opened #259 "ABOS generic metadata harvester failing"
This is harvesting metadata for reporting, accessing the files via THREDDS. It is currently failing with an exception like this for every file:
[code]

[2015-08-05 23:25] mhidas commented on #259
This harvester needs some other changes. When I get to it, I could get it to read files directly from the filesystem instead of THREDDS.

[2015-08-06 01:49] danfruehauf commented on #259
This is due to a bug in the new thredds that's providing malformed XML, see also:
https://github.com/Unidata/thredds/issues/150

[2015-08-06 01:49] #259 closed

[2015-08-09 23:11] ggalibert opened #263 "ARGO out of memory"
Even after increasing the Java heap space to 4Gb, still facing a memory issue on 14-nsp :

[code]

[2015-08-09 23:48] xhoenner commented on #263
Thanks for reporting that @ggalibert, I already had documented that the change I made didn't fix the harvester in https://github.com/aodn/content/issues/123.

[2015-08-09 23:48] #263 closed

[2015-08-11 07:39] jonescc opened #264 "SOOP_AUSCPR"
SOOP_AUSCPR is failing in production trying to connect to the cmar wfs service.  This occurs when I run up the harvester locally as well.

Looks like the WfsServerUrl is defined as a local variable in the main harvester job and subjobs rather than being linked to the source context WfsServerUrl and the pci runjob component is setup to run using a non-existant context (PCI).

When I modify this job

[2015-08-12 00:32] mhidas commented on #254
@jonescc We still have duplicates in this schema (anmn_acidification_nrt) and I can't remove them manually. How can we fix it?

[2015-08-12 00:54] #208 closed

[2015-08-13 05:25] ggalibert opened #266 "ACORN radial is not up to date"
The latest radial files that have been listed in dbprod by the acorn radial non qc harvester are dated of 20 June.

There are obviously more recent files in opendap but the harvester didn't pick them up somehow. Also there is no trace of error in the talend logs.

[2015-08-13 05:54] danfruehauf commented on #266
Ouch. Lets look into that ASAP.

[2015-08-14 04:58] #264 closed

[2015-08-14 06:27] jonescc opened #270 "ANMN_NRS_BGC fails parsing an invalid date"
When this harvester is able to connect to the CMAR server successfully it falls over trying to parse an invalid date:

Exception in component tMap_1
java.lang.RuntimeException: java.text.ParseException: Unparseable date: "TZ+0000"
        at routines.TalendDate.parseDate(TalendDate.java:777)
        at anmn_nrs_bgc.plankton_zooplankton_harvest_0_1.plankton_zooplankton_harvest.sWfsInput_1_GIProcess

[2015-08-14 06:29] jonescc opened #271 "ANMN_NRS_BGC and SOOP_AUSCPR intermittent timeout issues"
ANMN_NRS_BGC and SOOP_AUSCPR both fall over occasionally with timeout errors trying to connect to the CMAR server.  The issue is with the CMAR server occasionally taking too long to respond to WFS requests.

[2015-08-14 09:09] jonescc commented on #271
Note that the timeout can be set in the advanced properties of the sWFSInput.   Its currently set to 3000 ms in each of these harvesters.

[2015-08-17 02:30] mhidas commented on #271
@jonescc Thanks. I will increase the timeout values. At the moment the CMAR geoserver is taking 3-4minutes to respond, so I'll just set it to 10min for each request. I guess the harvester has time to be patient.

I have also pointed this out to the people responsible for that server in case they can do anything to improve it.

[2015-08-17 02:31] mhidas commented on #270
Good spotting @jonescc . I have asked the people at CMAR to fix this up in their database.

[2015-08-18 07:21] mhidas commented on #271
Ok, CMAR appear to have fixed this issue. The final word from their IT guy was:

However, it still occasionally takes 10 or so seconds to respond, so I'll need to increase that timeout threshold in the harvesters anyway. One minute should be enough I guess.

[2015-08-19 23:07] mhidas commented on #270
CMAR appear to have fixed this in their db.

[2015-08-19 23:07] #270 closed

[2015-08-20 05:13] ggalibert commented on #266
Ok, looks like the last run on 15/08 has ran successfully and now dbprod is showing files dated 15/08 which is good!

[2015-08-20 05:13] #266 closed

[2015-08-27 00:59] jonescc commented on #254
@mhidas, yes there was a problem with the talend harvesters not picking up deleted files which was fixed in a talend component.  These changes were made a while back and all harvesters have been recompiled in rc and production with these changes.

However, looks to me like the problem file above occurred before the changes made it to production.   I can't see any other instances where this has occ

[2015-08-27 02:21] jonescc commented on #254
Looks like @lbesnard has already cleaned up his data.

[2015-08-27 02:27] jonescc commented on #254
You can identify problem files like this using a query like:

select * from timeseries where file_id not in (select file_id from file_harvest where last_change_type <> 'deleted');

Replacing timeseries with the feature instance table that is applicable.  Might be worth running this on other collections where files are regularly deleted.

[2015-08-27 07:19] jonescc opened #278 "Running argo harvester on an empty schema returns an error"
### Steps to reproduce

Run argo harvester against an empty argo schema
### What happens

Get a liquibase error in create_table_views subjob iPostgresqlDbUpdate_2 component:

[code]
### What I expect to happen

tables and views are created successfully and the sample data is harvested

[2015-08-31 07:56] mhidas commented on #254
@jonescc Thanks. See PR #281 for the fix, including new unique constraints in the table to prevent this issue in the future (for this harvester at least).

[2015-09-01 03:04] bpasquer opened #283 "ran_ctd : anmn_mhlwave schema parameter used in ran ctd deployment context"
the deployment context 'destination'  contain anmn_mhlwave scema parameters. Seems like it is only impacting the update of metadata spatial extent . See the spatial extent of the aodn_ran_ctd  layer in step 1 in portal-rc

[2015-09-03 06:39] mhidas opened #284 "SOOP_AUSCPR: iUpdateSpatialExtent fails"
[code]

[2015-09-03 06:49] danfruehauf commented on #284
If this is from yesterday (2/9/2015) - the SOOP_AUSCPR metadata record was buggered in prod and probably any update would have failed because of that.

[2015-09-04 01:22] mhidas commented on #284
@danfruehauf Do we know what was wrong with the metadata record?

Looks ok now and the harvester ran fine last night.

[2015-09-04 01:31] danfruehauf commented on #284
Something about uploading a thumbnail and completely breaking the record. @jonescc can maybe provide more information.

[2015-09-04 01:46] jonescc commented on #284
@atkinsn uploaded a thumbnail to the record which for some reason broke geonetworks parsing of the record.  The record had to be deleted and the previous version imported.  Took a day or so to fix this, so the harvester fell over in the meantime.

[2015-09-04 01:52] mhidas commented on #271
Getting timeouts again on ANMN_NRS_BGC. The timeout limit is now set to 60sec. Maybe it needs longer?

The exception messages vary a bit, in case that is significant:

On 2015-09-02 19:16:41+10:00
[code]

On 2015-09-03 19:21:17+10:00:
[code]

[2015-09-04 01:58] mhidas commented on #284
Thanks @jonescc . So we can safely conclude this is not a harvester issue.

[2015-09-04 01:58] #284 closed

[2015-09-04 02:02] mhidas commented on #271
I just reran the ANMN_NRS_BGC harvester manually and it succeeded.

[2015-09-14 00:23] lbesnard commented on #271
@mhidas , I'm looking at the Jenkins talend pipeline, trying to clean things and deploy things which should have been deployed. I can see that the SOOP AUSCPR was modified on github, but the changes were not deployed nor to RC nor to PROD. Is it supposed to be deployed ?

[2015-09-14 01:03] mhidas commented on #271
@lbesnard I'm a bit puzzled, because as far as I can tell from github, the last change made to SOOP AUSCPR was merged into master in #272 and has been deployed. Anyone else know of any changes?

Anyway, go ahead, deploy it to RC and see what happens.

[2015-09-22 00:02] mhidas commented on #271
@lbesnard Where did we get to with this? Did you re-deploy AUSCPR?

Anyway, both AUSCPR and NRS_BGC have been running without issues for a couple of weeks now, so as far as I'm concerned we can close this issue.

[2015-09-23 02:14] lbesnard opened #301 "aatams_biologging_snowpetrel - New Harvester"
@xhoenner

[2015-09-23 02:19] lbesnard opened #302 "aus_phyto_db - new harvester"
https://github.com/aodn/geoserver-config/pull/282 needs to be merged

[2015-09-23 02:22] xhoenner commented on #302
harvester needs to have run first, no?

[2015-09-23 02:29] lbesnard commented on #302
yeap it would be better, wouldnt work otherwise. Just to keep it in mind

[2015-09-24 00:59] mhidas opened #303 "'bad version' warning during iHarvestResources"
In the log (console.2015-09-23-18-50-14.log) for anmn_ts_timeseries from last night (it had a big list of new files to harvest), there are many warnings like this:
[code]
Overall the harvester seems to have run successfully, so maybe this is not a real issue.

[2015-09-24 01:46] jonescc commented on #303
This ones come up before - ideally we'd upgrade the version of the netcdf library the harvesters are using to get rid of this error message.

Refer

https://github.com/aodn/content/issues/83
https://github.com/Unidata/thredds/issues/50
https://github.com/nctoolbox/nctoolbox/issues/70

[2015-09-24 07:25] mhidas commented on #303
@jonescc Thanks. I guess there's no point keeping it open here then.

[2015-09-24 07:25] #303 closed

[2015-09-28 02:51] xhoenner commented on #301
succeeded on rc, @lbesnard can you test out https://github.com/aodn/geoserver-config/pull/281 before deploying this harvester to prod?

[2015-09-29 08:10] ggalibert commented on #254
Can we close this?

[2015-09-30 00:08] xhoenner commented on #301
@danfruehauf it was deployed successfully on rc, could you deploy it to prod please?

[2015-09-30 00:16] danfruehauf commented on #301
Yes, no worries.

[2015-09-30 00:46] lbesnard commented on #283
@bpasquer is it still relevant ?

[2015-09-30 02:00] #283 closed

[2015-10-01 02:09] mhidas commented on #254
@ggalibert  Not yet. The fix has been merged, but not yet deployed to prod. It is on RC and running ok.

Could you or @lbesnard please deploy it?

[2015-10-02 02:30] xhoenner opened #307 "AATAMS_SATTAG_DM failing due to missing tables in MS Access database files"
The current workflow for the AATAMS_SATTAG_DM data collection is handled entirely in Talend as follows:
1. A tSystem component downloads (using the LFTP mirroring function) into a 'zipped' folder all the .zip files that the tag manufacturer has uploaded into an imos directory on its FTP server.
2. A subjob then unzips all MS Access files and move them into another folder.
3. The harvester then que

[2015-10-09 04:28] lbesnard commented on #302
waiting for data provider to be happy

[2015-10-11 22:27] mhidas commented on #254
@ggalibert @lbesnard The fix in #281 still hasn't been deployed on prod. Could  you please do it? Thanks.

[2015-10-12 00:21] danfruehauf commented on #254
@mhidas I'll look into that.

[2015-10-12 00:58] danfruehauf commented on #254
Had to rebuild it (due to jenkins discarding older builds), but now deploying both on RC and prod.

[2015-10-12 00:58] #254 closed

[2015-10-12 23:34] mhidas commented on #254
Thanks @danfruehauf !

[2015-10-19 03:40] xhoenner opened #311 "AATAMS_ACOUSTIC_REPORTING: deadlock"
Harvester failed on 10-nsp with the following deadlock error returned:

[code]

Importantly, the same harvester ran successfully on 14-nsp at the same time... any idea @danfruehauf?

[2015-10-19 03:46] danfruehauf commented on #311
@xhoenner No idea. But maybe the answer lies in the question? - *"In the same time..."*

[2015-10-19 03:57] xhoenner commented on #311
so what? re-run the harvester tonight on 10-nsp and see if that works?

[2015-10-19 04:02] danfruehauf commented on #311
I don't know if those 2 harvesters running together can lock same tables etc, so this is why I mentioned it.

Yes, run on 10-nsp-mel, see what happens. We can also schedule them to run on different times.

[2015-10-19 04:58] mhidas opened #312 "anmn_nrs_rt_* data-bag updates needed"
The files feeding these harvesters have changed slightly, so the include patterns need to be changed accordingly. Please update the `include` context parameter to
*anmn_nrs_rt_biogeochem_timeseries*: `.*/Biogeochem_timeseries/.*realtime.*\.nc`
*anmn_nrs_rt_meteo_timeseries*: `.*/Meteorology/.*realtime*.*\.nc`
*anmn_nrs_rt_wave_timeseries*: `.*/Wave/.*realtime.*\.nc`

[2015-10-19 04:59] mhidas commented on #312
@ggalibert @lbesnard I think this is for one of you?

[2015-10-19 05:06] danfruehauf commented on #312
@mhidas I'll do it.

[2015-10-19 05:11] danfruehauf commented on #312
@lbesnard @ggalibert Ready to go:
https://github.com/aodn/chef-private/pull/1620

[2015-10-19 06:56] #312 closed

[2015-10-19 21:47] mhidas commented on #312
Thanks guys!

[2015-10-26 04:30] xhoenner commented on #311
Alright we don't have the deadlock issue anymore, but have a weird connection issue. Have the data bags been changes @danfruehauf ?

[code]

[2015-10-26 05:38] danfruehauf commented on #311
@xhoenner The credentials look OK. No idea...

[2015-10-28 23:44] xhoenner commented on #301
Deployed on rc and prod, all good.

[2015-10-28 23:44] #301 closed

[2015-10-29 22:13] danfruehauf commented on #307
Solved by #318

[2015-10-29 22:13] #307 closed

[2015-11-19 01:46] mhidas opened #325 "event-driven indexing fails when too many files uploaded at once"
We just got about a dozen files uploaded for the ANMN_AM pipeline (harvester anmn_am_dm). Most of them got checked, indexed and published fine, but one of them failed to index with this message:
[code]
(The full log is at /mnt/ebs/log/data-services/ANMN_AM/IMOS_ANMN-AM_GST_20120417T060000Z_NRSMAI_FV01_NRSMAI-CO2-1204-delayed_END_20121018T220000Z_C-20151117T133603Z.nc.B5bN0o.20151119-114559.log)

[2015-11-19 10:05] danfruehauf commented on #325
We'll need to see how we gonna throttle how many files can be indexed per facility at the same time. Not sure harvesters is the right place for it. For the time being, if that happens once every few 1000s of files, we can just move it back and let is reprocess.

[2015-12-09 22:51] xhoenner commented on #311
@danfruehauf please make changes in chef to run this harvester on another day (Thursday?), I ran it on Monday and Tuesday this week and it didn't throw this error.

[2015-12-09 22:53] xhoenner commented on #73
The content of this issue would be more appropriate in the Readme.md file, happy to do that @ggalibert?

[2015-12-10 00:26] danfruehauf commented on #311
Changed to Thursday.

[2015-12-16 00:45] mhidas opened #335 "ANMN_ACOUSTICS: new harvester"
Please deploy to RC, but do not schedule to run. This will only be run manually for now.

Merged in #332. Will need https://github.com/aodn/chef-private/pull/1692 to be merged for testing.

[2015-12-16 23:33] lbesnard commented on #335
@mhidas I don't understand what you mean by 'do not schedule to run' . AFAIK it will run automatically,  maybe worth asking someone from the dev team

[2015-12-17 00:06] ggalibert commented on #335
CMIIW but AFAIR any deployed harvester are automatically scheduled to run at least once a day or something.

The truth is IDK so IOW it's probably worth asking a developer. IYKWIM.

HTH and SCNR.

[2015-12-17 00:37] mhidas commented on #335
All this harvester is doing (for now) is
 * creating the schema with liquibase -- *this is really the only reason there is even a harvester for this collection*;
 * updating geometry column from lat/lon;
 * updating spatial extent in metadata record.

It is not actually harvesting anything (I update the content manually). That's why I suggested not running it every day, as it would be a bit pointl

[2015-12-17 03:50] lbesnard commented on #335
@ggalibert thanks for the good laugh

[2015-12-17 03:56] lbesnard opened #337 "SRS - SST - reharvest of the files is not performed"
see
https://github.com/aodn/harvesters/pull/330#event-488739233
https://github.com/aodn/content/issues/149

A liquibase update was done to force the reprocess of SST files
[code]

Unfortunately if didn't run on NSP14

Looking at the srs_sst.file_harvest table for example, the following line:
[code]
has likely been stuck since the last TPAC outage.

[2015-12-17 03:56] lbesnard commented on #337
@jonescc

[2015-12-17 04:41] atkinsn commented on #335
I laughed too... Thanks @ggalibert (I can github too...)

[2015-12-18 06:45] jonescc commented on #337
@lbesnard - srs_sst is still running from 16th Dec.  It may yet get to this file and reprocess it.

[2015-12-23 05:22] ggalibert commented on #73
Please see PR https://github.com/aodn/harvesters/pull/342

[2016-01-03 23:01] xhoenner commented on #311
This seems to have solved this issue.

[2016-01-06 23:39] mhidas commented on #335
@ggalibert @lbesnard Could you please deploy this harvester to RC? Doesn't matter if it's scheduled.

[2016-01-07 00:59] ggalibert commented on #335
Deployed to RC

[2016-01-07 01:22] mhidas opened #347 "anmn_am_dm: latitudes changed from negative to positive"
The location of the Acidification Moorings data are wrong in the database. The latitudes are positive instead of negative. I have confirmed that these values are correct in the data, so it must be a harvester issue.
![anmn_am_dm_wrong_lat](https://cloud.githubusercontent.com/assets/3579859/12159769/3a1395ba-b539-11e5-8440-4d0dfc4a5e20.png)

[2016-01-07 02:56] mhidas commented on #347
Correction: I was looking at the old files. The problem *is* in the netCDF files. Moved issue to https://github.com/aodn/content/issues/169

[2016-01-07 02:56] #347 closed

[2016-01-10 23:39] mhidas commented on #335
Thanks @ggalibert . Tested and all good. Could you please deploy it to prod too?

[2016-01-11 00:56] mhidas commented on #335
Thanks!

[2016-01-11 00:56] #335 closed

[2016-01-11 04:50] danfruehauf opened #352 "soop_asf_mt, soop_sst - slow on running BoundingPolygonAsGml3"
Running the following can take a few minutes:
[code]

Same is for `soop_sst`. The explain for the query (after looking at the definition of `boundingpolygonasgm3`) is:
[code]

[2016-01-11 04:50] danfruehauf commented on #352
@jonescc @lbesnard FYI

[2016-01-11 04:58] jonescc commented on #352
Perhaps just using visualisation_wms to calculate the spatial extent would do @lbesnard

[2016-01-11 04:59] danfruehauf commented on #352
@jonescc Can you confirm it is faster?

[2016-01-11 05:00] jonescc commented on #352
Takes milliseconds to calculate using visualistation_wms

[2016-01-11 05:02] danfruehauf commented on #352
@jonescc :+1:

@lbesnard Probably worth modifying the harvesters for that.

[2016-01-11 05:05] jonescc commented on #352
Its a context param isn't it?

[2016-01-11 05:06] danfruehauf commented on #352
Actually yes, it is...

[2016-01-12 22:57] #352 closed

[2016-01-22 02:39] danfruehauf opened #361 "Gridded data harvesters can be consolidated"
Referring to the following harvesters (all gridded data):
- acorn_hourly_avg_nonqc
- acorn_hourly_avg_qc
- acorn_radial_nonqc
- acorn_radial_qc
- gsla_dm00
- gsla_nrt00
- srs_oc (Not sure??)
- srs_sst

All of those harvesters are populating a pretty simple schema by harvesting a timestamp from the netcdf file. By externalizing some configuration variables (such as the timestamp variable in the net

[2016-02-03 04:31] jonescc opened #364 "Metadata harvesting code duplicated in many harvesters"
Code to read netcdf metadata such as variables, variable attributes and so on is duplicated in a number of harvesters - would be good if this code could be sourced from one location - e.g. imos extensions for global attribute lookup functions, generic harvester for harvesting metadata, reporting views and/or talend netcdf metadata harvester component for example.

[2016-05-03 05:47] #302 closed

[2016-05-03 06:59] #337 closed

[2016-05-03 07:00] #271 closed

[2016-05-03 07:01] #325 closed

[2016-05-03 07:03] #249 closed

[2016-05-05 07:03] lbesnard opened #402 "SRS_OC harvester failing on liquibase"
New version of haverster to update views can't run because a drop on views is done and this affect the reporting schema ...

Any expert know what do to ? @julian1 @xhoenner

[code]

[2016-05-16 00:29] xhoenner opened #409 "AATAMS_ACOUSTIC_REPORTING running out of space"
Currently happening on 10-aws but regularly occurs also on 14-nsp. Copy of the logs below, corresponds to the process that copies the content of the detection table:

[code]

[2016-05-16 00:50] julian1 commented on #409
Issue looks to be on aatams instance, not dbprod or 10-aws.
[code]
[code]

[2016-05-16 01:22] lwgordonimos commented on #409
1. Does the query legitimately need a temp table of this size?
2. If yes, best practice suggests that there should (at least) be a separate partition for temp tablespace, which is how I've always provisioned DBs in the past:
https://wiki.postgresql.org/wiki/Simple_Configuration_Recommendation

Having everything on one partition like this could get nasty if writes to the transaction log are blocked

[2016-05-16 01:45] julian1 commented on #409
@xhoenner is in a better position to answer, but I believe so - since it's a full db extract for reporting. In the past we had a replicated master/reporting solution to separate needs and avoid having to write harvesters.

Separating temp query processing resources from the critical WAL stuff sounds great!

[2016-05-16 03:04] xhoenner commented on #409
Yes it does indeed as the content of the whole table is needed for reporting purposes.

[2016-06-01 04:46] mhidas opened #415 "ANMN_METADATA: deploy changes"
Please re-deploy this harvester **after**  #414 is merged. Just to 14-nsp-mel for now. Will test before going to production.

[2016-06-01 07:47] lbesnard commented on #415
for you to be tested

[2016-06-02 05:11] mhidas commented on #415
Thanks. It's good to go to prod.

[2016-06-02 08:22] lbesnard commented on #415
@mhidas I'm pretty confused, I can't find the harvester on /mnt/ebs/talend/jobs . Do you know where it is ?

[2016-06-03 00:38] mhidas commented on #415
Yeah this one's a bit tricky. The harvester is called ANMN_METADATA, but it's deployed as two separate jobs `anmn_delayed` and `anmn_realtime`, with slightly different configuration. (Soon there will be two more for ABOS)

[2016-06-06 02:27] mhidas commented on #415
Deployed.

[2016-06-06 02:27] #415 closed

[2016-06-19 23:42] lwgordonimos commented on #409
Resolved by https://github.com/aodn/chef/pull/306

[2016-06-19 23:42] #409 closed

[2016-06-27 05:22] mhidas opened #426 "ANMN_NRS_LONG_TS deploy to prod"
Tested out ok in RC. Please deploy to prod!

[2016-06-27 05:23] mhidas commented on #426
@lbesnard Would you mind? The Jenkins build should be ready. Just needs data bags.

[2016-06-27 08:31] lbesnard commented on #426
@mhidas done here https://github.com/aodn/chef-private/pull/1962

Not in tomorrow tho

[2016-06-27 23:48] mhidas commented on #426
@lbesnard Thanks!

[2016-06-28 07:54] mhidas commented on #426
Ok, this is in prod. The data harvest works fine, though for now it's failing at the metadata update stage because the metadata record is not public yet.

[2016-06-28 07:54] #426 closed

[2016-06-29 01:30] jonescc commented on #361
Refer https://github.com/aodn/harvesters/pull/425 and https://github.com/aodn/talend-components/pull/54

Wondering if there is any other information we should be pulling out of the netcdf files  if we are going to rerun a generic harvester across our data collections (e.g. elevation), variable names, domain ranges etc

[2016-06-29 01:35] jonescc commented on #361
Need to check with @julian1 re the type of metadata that was being pulled out of netcdf files by ncwms

[2016-07-12 03:46] lbesnard opened #429 "getglobalattribute psql function not exist"
Doing some testing on my pobox, I ran into this new issue :

[code]

does this ring a bell to you @mhidas @jonescc

[2016-07-12 04:00] mhidas commented on #429
Ah.. I think I can see what's happening. There's a subjob that defines the `getglobalattribute` functions, but it runs *after* the main liquibase that sets up the schema. This was fine initially, but then I added a column and needed to populate it using the `getglobalattribute` function. This didn't break it for me because I only ran it on an existing schema, but running it on a new empty schema r

[2016-07-15 02:36] #429 closed

[2016-07-15 02:45] mhidas opened #433 "ANMN_METADATA: deploy changes"
Please re-deploy to apply changes in https://github.com/aodn/harvesters/pull/431

[2016-07-15 02:49] mhidas commented on #433
No data-bag changes required. Just need to deploy new code. Will test before going to prod.

[2016-07-15 03:22] lbesnard commented on #433
on nsp14 in 10'

[2016-07-15 04:35] mhidas commented on #433
Tested out ok. Deploying to prod.

[2016-08-03 23:58] pmbohm commented on #402
If this is still an issue it may be the cause of https://github.com/aodn/aodn-portal/issues/2236 @smancini

[2016-10-14 07:25] xhoenner opened #469 "PostgreSQL errors associated with AATAMS_SATTAG_DM harvester"
Log files found in 10aws:/mnt/ebs/log/data-services/AATAMS_SATTAG_DM were produced on Thursday 13 October at 10:01 and show the following database errors. The second error `FATAL: the database system is in recovery mode` doesn't sound too good, could it be due to the concurrent I/O error @lwgordonimos?

_tmp.aOI4tjlr6P.20161009-093836.log.1_

[code]

_tmp.Ef71zHp61K.20161011-090041.log.1_

[code]

[2016-10-16 22:34] lwgordonimos commented on #469
@xhoenner looks like the database did indeed crash at around that time... looking for the source of the 9 signal on the checkpointer process, suspect 'out of memory killer' again...

[code]

[2016-10-16 22:36] lwgordonimos commented on #469
Yep...

[code]

[2016-10-16 22:54] julian1 commented on #469
well spotted! Perhaps the aatams_sattag_dm job is an issue - if it requires a lot of db memory?

[2016-10-16 22:59] lwgordonimos commented on #469
May well do. We decreased the main shared buffer down to try and avoid this, but now I'm wondering if some of the jobs are demanding on the per-connection type buffers. Most of my open source DB experience was tuning MySQL, so not 100% on the parallels, but I know in that you had to do a bit of config around the per-connection buffers to avoid blowing out the overall memory usage. The config doesn

[2016-10-24 23:09] ggalibert opened #473 "ANMN_BURST_AVG_TIMESERIES should handle other non burst sampled biogeochem timeseries"
At the moment ANMN_BURST_AVG_TIMESERIES only harvest burst averaged data from WQMs and NXICs. However other instruments like ECOs collect biogeochem data (not in burst mode though) that is not picked up by the harvester.

Harvester should be updated in this regard and maybe should be renamed as well as its metadata record to something like ANMN_BIOGEOCHEM_TIMESERIES.

[2016-10-24 23:11] ggalibert commented on #473
See for example those guys: http://thredds.aodn.org.au/thredds/catalog/IMOS/ANMN/QLD/PIL100/Biogeochem_timeseries/catalog.html

[2016-10-25 03:36] #433 closed

[2016-11-02 23:54] #361 closed

[2016-11-02 23:54] #154 closed

[2016-11-24 23:12] xhoenner commented on #311
Occurred yesterday on 10aws @lwgordonimos

[code]

[2016-11-24 23:44] julian1 commented on #311
neat!

[2016-11-25 00:05] lwgordonimos commented on #311
[code]

Unfortunately can't tell what those PIDs were exactly, but the TRUNCATE was waiting for something that locked **aatams_acoustic_detections_map**.

[2016-11-25 00:13] julian1 commented on #311
Is the harvester just copying tables from the aatams database into harvest - in order to perform reporting?

I wonder if it would be possible to move the aatams db in under a harvest schema. Then the harvester could be eliminated altogether. If the data is also being used to serve geoserver layers - then presumably that could be handled with some supporting view code?

[2016-11-25 00:17] lwgordonimos commented on #311
The other thing I've done in the past (not with Postgres, but Oracle/SQL Server with good success) is to use a linked database to transparently access a remote database in a "local" namespace. Could also be an option if combining databases is unsuitable due to size or any other concern which keeps them separate...

Have you used this in Postgres?
https://www.postgresql.org/docs/9.4/static/dblink.h

[2016-11-25 00:23] julian1 commented on #311
wasn't aware of dblink - looks interesting. We did use postgres read replication - which good in that it separate out the geoserver,wms,wfs load from the reporting/backup load.

[2016-11-25 00:39] xhoenner commented on #311
That's the purpose of an entire subjob yet. The other subjobs generate the views for the reporting and Geoserver.

[2016-11-25 00:53] lwgordonimos commented on #311
Would be interesting to see if the views could be modified to use a linked database under the hood, e.g.

http://stackoverflow.com/questions/13993302/postgresql-slow-query-dblink-and-inner-join
http://stackoverflow.com/questions/9493332/postgres-how-to-create-a-select-query-that-would-join-two-databases

[code]

[2016-11-25 00:55] julian1 commented on #311
That's very neat.

[2016-12-18 20:39] julian1 commented on #311
https://www.youtube.com/watch?v=SEwUMiODTv4

[2016-12-18 20:40] julian1 commented on #311
@xhoenner

[2016-12-18 22:47] xhoenner commented on #311
haha that's exactly it, the much dreaded snail! @pblain, sounds like it is time for Talend harvesters to have their own icons, similarly to Jenkins for instance. Any chance this can be added to the backlog?

![shot-2014 04 01-18 31 10 copy](https://cloud.githubusercontent.com/assets/3443821/21297214/0d8ecb06-c5d0-11e6-8309-74a3258f47b6.jpg)

[2016-12-18 22:48] anguss00 commented on #311
Morning made @xhoenner

[2016-12-19 23:28] jonescc commented on #311
So, talking to @xhoenner this morning, the harvester currently:

 * copies required data from the aatams database to the harvest database
   * includes valid_detections (which is huge) and associated tables.
   * each table is copied one after another with a truncate performed on the target table before each copy
 * copies data from views on the copied tables to data and map tables
   * again targ

[2016-12-20 00:19] jonescc commented on #311
All the above takes place in the aatams_acoustic_reporting schema.

Once a month data from reporting views are copied to the reporting schema for reporting (this is summary data so it is not a long running process).

[2016-12-20 00:24] xhoenner commented on #311
It actually takes place in the `dw_aatams_acoustic` schema. Then you're right, summary data for reporting is copied from the `dw_aatams_acoustic` to the `reporting` schema.

[2016-12-20 00:35] jonescc commented on #311
Thanks for the clarification @xhoenner.

Some possible ways we could look at resolving this:

 * use 'clear' instead of 'truncate' - clear deletes from the table and doesn't take an exclusive lock.  Previous data will be visible outside the transaction until the transaction is committed
  * will probably take longer and may use more disk space
  * doesn't reduce the amount of time required to run

[2016-12-20 00:44] jonescc commented on #311
The dblink functionality looks pretty limited - basically all the data that you want to work with needs to be fetched locally anyway.

[2016-12-20 00:47] julian1 commented on #311
What about creating the dblink to link the data. Then using the projection as the source for the copy action to co-locate it in one place so that it can be accessed efficiently? That might eliminate the need to maintain a complicated harvester as well - since the complicated copy sql could just be ordinary reporting sql.

[2016-12-20 00:48] jonescc commented on #311
Good suggestion - no need to stream the data via talend

[2016-12-20 00:48] jonescc commented on #311
But not required if we are working in the aatams database.

[2016-12-20 01:15] lbesnard opened #486 "AODN RAN CTD - FUTURE REEF MAP"
@bpasquer , as we discussed about it, those harvester names should be renamed properly:

RAN_CTD_harvester to AODN_RAN_CTD_harvester
Future_Reef_MAP_harvester to FUTURE_REEF_MAP_harvester.

databags will have to be modified too

[2016-12-20 03:06] bpasquer commented on #486
I keep that in mind for 2017 👍

[2016-12-20 21:23] xhoenner opened #487 "Duplicate records in aatams_sattag_dm schema"
Relates to the AATAMS_SATTAG_DM harvester and potentially the corresponding pipeline. Some files have been indexed multiple times, despite having the same url values. This resulted in duplicated records in all data tables except `measurements` (i.e. `argos_locations`, `dive_profiles`, `haulout`, and `summary`). Note that the latter tables are populated using a separate subjob called 'Harvest_LocDi

[2017-01-09 01:24] ggalibert opened #491 "anmn_nrs_ctd_profiles is missing CPHL column"
In this collection Chlorophyll data can be found under a parameter code CPHL. This needs to be added to the measurement table in the database and the view _data also needs to be updated.

[2017-01-09 01:25] ggalibert commented on #491
See impact on Geoserver next : https://github.com/aodn/geoserver-config/issues/426

[2017-01-17 20:37] xhoenner commented on #311
seems to be fixed as the harvester ran successfully on 10-aws.

[2017-01-17 20:37] #311 closed

[2017-01-17 20:40] xhoenner commented on #469
Was fixed by https://github.com/aodn/harvesters/pull/479

[2017-01-17 20:40] #469 closed

[2017-01-18 03:17] bpasquer opened #494 "AODN THREDDS catalog not validated by iIndexThreddsResources"
The AODN_RAN_CTD harvester used to harvest from the METOC THREDDS server that is now closed. The harvester has been updated to harvest the data from our THREDDS server. Tested on the PO BOX, the harvester raise an exception that suggests that either our catalog is not valid or the issue comes from the talend component iIndexThreddsResources or the librairies.

aodn_ran_ctd.databasechangelog
INFO 1

[2017-01-18 04:55] jonescc commented on #494
Can you wget 'http://thredds.aodn.org.au/thredds/catalog/Department_of_Defence/RAN/CTD/catalog.xml' on your PO box?

[2017-01-18 05:04] lbesnard commented on #494
no one can

[2017-01-18 05:09] jonescc commented on #494
Well that's the reason why the harvester doesn't work.   Try thredds on the po box?

[2017-01-18 05:12] lbesnard commented on #494
example,
you can't do on the po box. but you can anywhere else
[code]

[2017-01-18 05:22] #494 closed

[2017-01-18 21:20] xhoenner commented on #487
Fixed by https://github.com/aodn/harvesters/pull/489

[2017-01-18 21:20] #487 closed

[2017-02-06 01:23] mhidas commented on #491
This has been reported before: https://github.com/aodn/content/issues/209

[2017-02-20 03:32] xhoenner opened #497 "AATAMS_SATTAG_DM - error with tJDBCinput component"
The following error killed the harvester on 10aws, see /mnt/ebs/log/data-services/AATAMS_SATTAG_DM/tmp.MA224LC5vq.20170218-000037.log.1

Looks like the harvester can't deal with data in the 'ctd' table found in the 'ct133.mdb' file, however, I've been able to read its content successfully in R.

[code]

[2017-03-03 02:22] bpasquer opened #501 "AODN_RAN_CTD harvester failing in RC and prod"
When manually triggered in RC and prod the AODN_RAN_CTD harvester( no pipeline for this collection) outputs the following error:

"_Exception in thread "main" java.lang.Error: java.lang.Error: java.lang.Error: java.lang.Error: java.lang.Error: java.lang.Error: java.lang.Error: java.lang.AbstractMethodError: org.slf4j.impl.JDK14LoggerAdapter.log(Lorg/slf4j/Marker;Ljava/lang/String;ILjava/lang/Strin

[2017-03-07 20:36] jonescc commented on #497
The AATAMS_SATTAG_HARVESTER tJDBC_Input_4 component in HarvestCTDdata uses a schema expecting columns to be returned in a specific order (i.e. ref, PTT, END_DATE, MAX_DBAR, LAT, LON etc), however the select statement used to select the data does not specify the required order ("select * from ctd;").   The order of the columns returned for this file does not match the expected order and so a column

[2017-03-07 22:12] xhoenner commented on #497
Thanks @jonescc for looking into this. I've compared the problematic file ('ct133.mdb') with another file ('ct101.mdb') and it indeed appears that the tag manufacturer has recently changed the order of the fields within the ctd table. You've just got to love that.

Now that you've pointed this out I also noticed that they have renamed the "LAT" and "LON" columns to 'lat', 'lon'. Before I implement

[2017-03-07 22:16] lwgordonimos commented on #497
Generally speaking, Microsoft products are very often *not* case sensitive by default, so it's very plausible that the change in case would have no effect at all if just extracting from the MDB.

[2017-03-07 22:27] xhoenner commented on #497
huh, who would have thought? Some will say such leniency adequately highlights Microsoft's lack of rigour in about everything they make.

[2017-03-07 22:30] jonescc commented on #497
Yes it ignores case - the first column is actually REF not ref as per the schema.

[2017-03-07 22:42] xhoenner commented on #497
Sounds good, too easy then. PR's up --> https://github.com/aodn/harvesters/pull/502

[2017-03-08 04:02] jonescc commented on #497
@xhoenner - the updated version has been deployed to rc.  Can you arrange to get this tested there?

[2017-03-08 04:11] xhoenner commented on #497
Great. No I can't ssh into any of the IMOS machines from here unfortunately. I'd suggest you download ct133.mdb from 10aws and dump it into $INCOMING_DIR/AATAMS/AATAMS_SATTAG_DM on rc and see whether it gets processed.

Note that you may have to run talend_liqui AATAMS_SATTAG_NRT beforehand as the _DM harvester uses a table in the _nrt schema which may not be present in the rc database.

[2017-03-08 04:30] jonescc commented on #497
Issue with changelog running on an empty schema?

[code]

[2017-03-08 04:37] xhoenner commented on #497
hmm, looks like it's indeed time to use the good old pg_dump/pg_restore trick...

[2017-03-08 22:27] jonescc commented on #497
OK, so I copied aatams_sattag_nrt and aatamas_sattag_dm chemas from production and the pipeline now processes the file in rc.  However, looking at the other jdbcinputs you are using, you using 'select *' in Harvest_LocDiveSummaryHauloutData in tJDBCInput_2 and tJDBCInput_5.

Looking at tJDBCInput_2 the source file has extra columns, but not sure whether this is a problem as otherwise the columns m

[2017-03-10 00:44] bpasquer opened #504 "ANFOG_DM harvester failing on 10aws"
ANFOG_DM harvester is failing on 10aws.
The error is the same as for AODN_RAN_CTD https://github.com/aodn/harvesters/issues/501

See the following log for full details IMOS_ANFOG_BCEOPSTUV_20170109T100117Z_SG540_FV01_timeseries_END-20170131T204838Z.nc.EbYY92.20170310-112353.log

Processing slice with '1' files
Preparing file '/mnt/ebs/tmp/IMOS_ANFOG_BCEOPSTUV_20160228T225753Z_SL239_FV01_timeseries

[2017-03-13 20:54] jonescc commented on #497
Looks to be running OK to me in RC.  Should I promote this to prod?

[2017-03-14 00:50] jonescc commented on #504
Looks like two different versions of the netcdf java library are being included in the harvester build causing incompatible versions of classes to be attempted to be used.  Talend sources these jars from

/home/jenkins/talend/talend-components/iNetCDFInput/netcdfAll-4.6.4.jar
/home/jenkins/talend/lib/java/netcdfAll-4.2.jar

The first location is the jar specified in the talend components and is co

[2017-03-14 00:53] jonescc commented on #497
Actually, failed to build due to "No space left on device"

[2017-03-14 03:24] jonescc commented on #504
Looks like the old netcdf jar was included in some Talend Spatial components I wrote a long time ago (sNetCDFInput, sOPeNDAPInput and iThreddsIterator) - they may have been picked up from there.  I've removed these components from the installation zip file on emiisheryl  (//researchdata.its.utas.edu.au/research/IMOS/emiiSheryl/Talend%20Software/TOS-Spatial-5.4.1.zip), aws s3 (s3://imos-binary/stat

[2017-03-14 03:25] jonescc commented on #501
Has been rebuilt and promoted to rc.  Can this be tested there before promoting to RC?

[2017-03-14 03:30] jonescc commented on #497
OK, rebuilt and promoted to RC.  Appears to run OK.

[2017-03-14 03:41] bpasquer commented on #501
yes, i've just triggered talend on RC

[2017-03-14 22:40] bpasquer commented on #501
AODN_RAN_CTD harvester successfully ran on RC .

[2017-03-14 22:52] bpasquer commented on #501
Can be promoted to prod. Thanks

[2017-03-14 22:52] #501 closed

[2017-03-15 00:38] jonescc commented on #501
Promoted - will be deployed after 5pm this afternoon.

[2017-03-21 22:40] mhidas opened #507 "Replace TRUNCATE with CLEAR TABLE"
When a harvester needs to delete all rows from a table before writing new data to it, the "clear table" option should be used instead of "truncate table". Truncate requires an exclusive lock on the table and prevents any subsequent queries from running, even while the truncate itself is still waiting to run.

This may have been part of the cause for a recent geoserver-123 outage (https://github.co

[2017-03-21 22:42] mhidas commented on #507
Harvesters affected include SOOP_AUSCPR and ANMN_NRS_BGC. Any others?

@lbesnard @bpasquer @xhoenner

[2017-03-21 23:25] lbesnard commented on #507
Im sure there are many more. It's quite bizarre the outage happened after having written these harvesters years ago

[2017-03-23 04:03] xhoenner commented on #507
I'd say most harvesters use truncate since it was what we've been told to use in the original [Talend Google document](https://docs.google.com/document/d/1-E05wDMvI_Yy2Zz9m3D8DCWUjjkhPDJFm_jr9TvbUgc/edit). Surely we could do a batch update, that's what I ended up doing for [AATAMS_ACOUSTIC_REPORTING](https://github.com/aodn/harvesters/pull/488).

[2017-03-23 04:55] jonescc commented on #507
The issue in production the other day was mainly caused by a jndi connection pool leak in geoserver performing shapefile downloads.   The truncate just exacerbated the problem (blocked access to that table from any other application).

I've attached a list of harvesters which still use the TRUNCATE table action and in sql below.  We've actually been moving to modifying data based on what files hav

[2017-03-28 04:42] bpasquer commented on #504
@jonescc Unfortunately the issue is not resolved. Tested today. The error listed in the following log is same as before:
/mnt/ebs/log/data-services/ANFOG_DM/IMOS_ANFOG_BCEOPSTUV_20160127T231611Z_SL239_FV01_timeseries_END-20160226T031401Z.nc.Gf5RrI.20170328-143235.log

[2017-03-28 04:57] jonescc commented on #504
anfog_dm changes haven't been promoted to prod yet.  Was testing in RC OK?

[2017-03-28 05:10] jonescc commented on #504
OK, I've promoted it to prod.  Should be provisioned after 5 sometime I think.

[2017-03-29 00:11] bpasquer commented on #504
The ANFOG_DM harvester is now processing files as before. Thanks @jonescc

[2017-03-29 00:11] #504 closed

[2017-06-19 01:49] mhidas opened #524 "SOOP_AUSCPR harvester needs to handle null dates"
This harvester has been failing for weeks due to a "null" in a date field:
[code]

[2017-09-08 01:04] #497 closed

[2017-09-21 01:20] lwgordonimos opened #551 "FAIMMS harvester causing excessive database load"
The FAIMMS harvester is running database queries which generate an unreasonable amount of load on the database server.

https://github.com/aodn/data-services/pull/742 will mitigate the impact somewhat, however the harvester must be updated in order to perform more optimally.

The queries seem to run *relatively* quickly, but while running, the DELETE query very quickly consumes nearly all of the a

[2017-11-20 07:02] mhidas opened #567 "ABOS_TS harvester is not removing deleted files from collection"
Similar to many harvesters **ABOS_TS_SINGLE_INST_TIMESERIES** has a subjob called `DeleteTimeseriesFileData`, which is supposed to deal with deleted (or un-harvested) files by running the following SQL:
[code]
(where `context.fileId` is the file's id in the `indexed_file` table).  However, in this case this doesn't seem to be working, and the map view (and hence the portal collection) is full of f

[2017-11-20 07:03] mhidas commented on #567
Maybe @jonescc could take a look at it?

[2017-12-06 23:08] jonescc commented on #567
Looks to me like the problem files are all ones which were indexed before "2016-03-03 07:00:17.244+00" - perhaps related to moving to the pipeline or a bug which has since been fixed.

All files deleted after then appear to have been deleted correctly since then so perhaps just a cleanup of the problem files is required for the moment.

[2017-12-07 02:10] mhidas commented on #567
Thanks @jonescc . I've had another look at these, and it turns out there's a bit more to the story (still in `abos_ts` schema):
[code]
The files I mentioned before are in the third row (291 files). These files are actually **not deleted** i.e. they are still on S3 and indexed by the generic moorings harvest (`anmn_metadata`)

On the other hand, none of the 41 files in the second row exist on S3. S

[2017-12-11 22:17] jonescc commented on #567
Looking at the logs for the 41 files on the second line above, the ones where logs are available were unable to be indexed and should have been moved to the error directory [error-files.txt](https://github.com/aodn/harvesters/files/1549566/error-files.txt)
.  Some are there, others aren't - can't find anymore detail about why they couldn't be indexed.

[2017-12-11 22:26] jonescc commented on #567
PS.  The deleted flag is normally set when deleting a file from the index - I'd probably fix the flag rather than ignoring it.

[2017-12-11 22:52] mhidas commented on #567
Thanks @jonescc . That makes sense now. Those 41 files that the index thinks are there were not harvested due to uniqueness constraints on the metadata table (`timeseries`).  I'm actually in the process of removing these constraints, so this will hopefully not happen in the future.

If/when we revisit the whole indexing/harvesting issue, depending on how far we want to go, we can:
* Update the ind

[2017-12-11 22:54] mhidas commented on #567
In the meantime, yes we could get the index into a more consistent state by re-harvesting/un-harvesting the relevant files. However as data access via the portal is not affected by the delete flag in the index, I don't think this is worth the effort right now.

[2017-12-11 22:54] #567 closed

[2018-02-08 22:45] mhidas commented on #524
This is causing the harvester to fail again (still?). I've asked CMAR if those dates are allowed to be null. If not then this change won't be needed.

[2018-02-14 07:15] mhidas commented on #524
CMAR have confirmed that we do need to handle those nulls. Done in #597

[2018-02-14 07:15] #524 closed

[2018-05-02 06:54] bpasquer opened #607 "AODN_WAVE harvester design"
Harvest of QLD  delayed mode wave data using the CKAN data API:
Access the QLD government database using CKAN API: allow to search and download datasets and (some) metadata by querying data in SQL, Python or JSONP.
The JSONP solution has been chosen to be implemented in a TALEND harvester.

In the catalog, collections can be identified either by their names or their 'package_id’. A package consist

[2018-05-15 03:56] mhidas commented on #507
Can we do a bulk update to fix all the harvesters?

[2018-05-15 04:00] jonescc commented on #507
We can do that, but developers don't really know what these harvesters are meant to do/how to verify that they are still working correctly after the changes which is why I think this was raised in the harvesters repo.  Making the changes shouldn't be that hard.

[2018-06-29 03:43] jonescc commented on #364
Closing this as looking at a generic harvester is a part of this years implementation plan.

[2018-06-29 03:43] #364 closed

[2018-08-30 01:39] #486 closed

[2018-09-11 22:12] xhoenner opened #633 "I/O error on aatams_acoustic_reporting on 4-nec-hob"
Copied the harvester log below, looks like a PostgreSQL connection issue

[code]

[2018-09-11 22:31] jonescc commented on #633
Can't see an OOM message so the process was possibly manually killed using -9 which brings down the server.  Should use pg_terminate_backend instead (sometimes doesn't work and need to use kill - but never -9)

[2019-01-09 00:09] lwgordonimos opened #656 "srs_surface_waves_map view not scalable when tables become large"
@ggalibert @lbesnard I suspect this is due to the view query not being scalable, and demonstrating acceptable performance for only very small tables.

I'd suggest we restore the prod schema onto RC and troubleshoot it there until it can be made to operate efficiently for very large tables, since if is choking already, it will only go downhill from here as the data continues to pour in.

The harves

[2019-01-09 00:33] lwgordonimos commented on #656
It is being queried by that function though (which also calls other functions).
e.g. https://github.com/aodn/harvest_sql_library/blob/master/extension/imos--1.0.sql#L303

That index is required to support the view anyway, since it uses the column in the join.

It may need over indexes as well, for example the geom column, but this would need to be testing/verified on RC.

[2019-01-09 00:51] lbesnard commented on #656
https://github.com/aodn/harvesters/pull/657

[2019-01-15 23:57] ggalibert commented on #656
I think we can close this one. Laurent has created a materialised view with index on geom which has improved performances significantly.

Worth noting that the slow down on geom was being initiated by the talend component that updates the geospatial extent of the metadata record. We didn't really need this feature for this collection and took it off which also solved our performance problem when h

[2019-01-15 23:57] #656 closed

[2019-01-29 02:14] mhidas commented on #473
Closing as this is now logged as a content issue (https://github.com/aodn/content/issues/398)

[2019-01-29 02:14] #473 closed

[2019-02-18 05:46] #491 closed

[2019-05-06 22:41] jonescc opened #716 "aatams_sattag_dm fails on an empty schema"
aatams_sattag_dm can't be run on an empty schema causing problems for talend 7 testing (and testing in general).

[code]

[2019-05-06 22:52] jonescc opened #717 "anfog_rt can't be run on an empty schema"
anfog_rt can't be run on an empty schema causing problems for talend 7 testing (and testing in general).

[code]

[2019-05-09 04:44] jonescc opened #720 "srs_oc_soop_rad context load separator issue talend 7"
srs_oc_soop_rad does not specify a field separator for implicit context load option in HarvestMetadataFromFileSystem which has implicit load checked.   This causes no issues in TOS 5, but causes the harvester to abort when built using TOS 7:

[code]

[2019-05-09 05:16] #720 closed

[2019-05-21 23:50] jonescc opened #732 "aodn_imas_fluormetry can't run on an empty schema"
Get the following exception

[code]

[2019-05-22 05:36] jonescc opened #734 "auv harvester not clearing deleted data out of auv_trajectory_map"
See https://github.com/aodn/utilities/pull/127

[2019-05-22 22:02] jonescc opened #738 "auv harvester timestamp's different for tos7"
refer https://github.com/aodn/utilities/pull/127

[2019-05-22 22:10] jonescc commented on #738
Not sure how this impacts delivery through geoserver, but it creates a problem with csv export from the db as per the talend testing utility at the very least.

[2019-05-23 02:03] jonescc opened #740 "anmn_nrs_dar_yon not updating map layer with removed files"
Refer https://github.com/aodn/utilities/pull/148

[2019-05-23 02:31] jonescc commented on #740
Also an issue with faimms

[2019-05-23 02:40] lbesnard commented on #740
yeah those harvesters are a bit tricky as they are merging data together in various views. I would have to look at this again

[2019-05-27 00:50] jonescc opened #743 "aatams acoustic reporting time zone handling tos7"
When running aatams_accoustic_reporting on 9-nec-hob (built with tos7) using the talend testing scripts, a different result is returned for embargo date to that returned on 6-nec-hob e.g.

[code]

[2019-05-27 01:09] jonescc opened #744 "aatams acoustic qc time zone handling tos7"
Running aatams_acoustic_qc on 9-nec-hob gives different results to 6-nec-hob for atf_acoustic_qc_detections_map:

[code]

[2019-05-27 05:03] jonescc opened #745 "aodn_wave_dm results differ with tos7"
Running this harvester on 9-nec-hob gives different results (timestamps) to 6-nec-hob:

[code]

[2019-05-27 05:30] ggalibert commented on #745
@bpasquer can you please have a look at this?

Looks like the following dataset NSW-OEH/Manly_Hydraulics_Laboratory/Wave/Byron_Bay/IMOS_ANMN-NSW_W_19930721T010000Z_WAVEBYB_WAVERIDER_FV01_END-19931110T210000Z.nc is not harvested properly.

[2019-05-27 05:44] jonescc commented on #745
Looking at this with @bpasquer it looks like the 9-nec-hob result is actually the correct one.   Need to check  what the situation is in production.

Looks like we are extracting values with AT TIME ZONE 'UTC' in the harvester and inserting them into a TIMESTAMP WITH TIME ZONE column.  As discussed elsewhere we should probably stick with values WITH TIME ZONE in the tables and when processing in t

[2019-05-27 06:17] bpasquer commented on #745
Issue is present in Prod. Will open an issue in content for reference until TOS 7 is in prod and we reprocess the impacted file(s).

[2019-05-27 08:51] lbesnard commented on #744
@jonescc I don't know if it's a time zone handling issue. The difference is a full 24 hours. Also, the definition of both tables and views seems to be good to me in regards to time handling

[2019-05-27 23:07] jonescc commented on #744
I suspect its related to this:

    date(min(detection_timestamp)) AS first_detection_date,
    date(max(detection_timestamp)) AS last_detection_date

"PostgreSQL assumes your local time zone for any type containing only date or time. All timezone-aware dates and times are stored internally in UTC . They are converted to local time in the zone specified by the timezone configuration parameter befo

[2019-05-28 02:16] lbesnard commented on #744
@jonescc , xavier initially wrote this harvester. I'm quite confused about all these date issues:

## atf_acoustic_qc_detections_map table

The atf_acoustic_qc_detections_map table definition is
 ```first_detection_date timestamp with time zone```
which seems right.

The query to populate it is:
[code]

As an example (ran on RC)

[code]
In that case, it's not exactly what we would call a date sinc

[2019-05-28 02:20] lbesnard commented on #743
![snail](https://user-images.githubusercontent.com/2382814/58446132-db627c00-8142-11e9-8a6f-35b3f35c5eda.png)

is this really the snail harvester we have to debug ??
 @xhoenner

[2019-05-28 04:08] jonescc commented on #744
Yes, I guess I'm assuming that the first date is the date of the first detection in the UTC time zone.  What's currently happening in RC and 6-nec-hob is that the first date is the date of the first detection in the AEST time zone.   Is this wrong?  I thought all our dates/timestamps etc were meant to be UTC.   Either way - yes we need to be clear on what the correct result is and ensure that's wh

[2019-05-28 22:35] jonescc commented on #743
You can test using the 'dev' aatams data on 6-nec-hob/9-nec-hob.  That's what we are running the talend test scripts against i.e. 6-nec-hob.emii.org.au 5432 aatams3

[2019-06-03 01:20] mhidas commented on #73
@ggalibert Can this be closed?

[2019-06-03 01:35] mhidas commented on #507
It doesn't look like we've made any progress with this. I won't dump the full grep from [above](https://github.com/aodn/harvesters/issues/507#issuecomment-288617442), but these harvesters still include at least one TRUNCATE:
AATAMS_ACOUSTIC_QC
ANMN_MHLWAVE
ANMN_NRS_BGC
ANMN_NRS_DAR_YON_TS
AODN_CSIRO_CMAR
AODN_WAVE_NRT
AUS_PHYTO_DB
AUV
AUV_VIEWER_TRACKS
SOOP_BA
SOOP_TRV
SRS_ALTIMETRY
SRS_LJCO_AERON

[2019-06-03 01:39] mhidas commented on #507
Also we need to be careful doing just a simple grep for "TRUNCATE" and replacing it with "CLEAR". I just noticed that some of the harvesters above use "TRUNCATE TABLE x;" in SQL inside the liquibase script (e.g. ANMN_NRS_DAR_YON_TS and AUV). In these cases the replacement string should be "DELETE FROM x;" I guess?

[2019-06-03 03:52] lbesnard commented on #734
this was fixed in above PRs

[2019-06-03 03:52] #734 closed

[2019-06-03 03:53] lbesnard commented on #738
this should be fixed by this PR
https://github.com/aodn/harvesters/pull/751

[2019-06-03 07:12] lbesnard commented on #507
why changing what is not broken ?

[2019-06-03 23:16] jonescc commented on #507
Note that this is broken.  See https://github.com/aodn/harvesters/issues/507#issuecomment-389030364

[2019-06-03 23:58] #73 closed

[2019-06-04 02:11] ggalibert opened #753 "Problem using java.text.SimpleDateFormat.parse"
There's currently an issue with using `java.text.SimpleDateFormat.parse(SimpleDateFormat.java:1380)` for any new files that goes into ACORN_HOURLY_AVG_QC_harvester. The following errors are output:
[code]

See file in `/mnt/ebs/error/ACORN_DM`.

[2019-06-04 06:53] lbesnard commented on #753
@ggalibert the fix is simple.

The harvester needs a global attribute called time_coverage_start to use as the time value and this is missing from the files

the only gatts are
[code]

[2019-06-04 06:57] ggalibert commented on #753
Thanks,

can you please check the differnce between simone's recently processed file and the ones we currently have and then highlight the difference in this [discussion](https://github.com/aodn/content/issues/309) for Simone to take into account.

[2019-06-04 06:57] #753 closed

[2019-06-05 06:27] jonescc commented on #744
So looking at this further on 6-nec-hob:

In the file ([A69-1105-102_5354094_7579005.txt](https://github.com/aodn/harvesters/files/3255775/A69-1105-102_5354094_7579005.txt)):

transmitter_id | installation_name | station_name | receiver_name | detection_timestamp | longitude | latitude | sensor_value | sensor_unit | FDA_QC | Velocity_QC | Distance_QC | DetectionDistribution_QC | DistanceRelease_QC

[2019-06-05 06:33] jonescc commented on #740
Fixed by https://github.com/aodn/harvesters/pull/752

[2019-06-05 06:33] #740 closed

[2019-06-05 06:38] jonescc commented on #738
Resolved by https://github.com/aodn/harvesters/pull/751

[2019-06-05 06:38] #738 closed

[2019-06-05 06:42] jonescc commented on #743
This one uses date() similar to aatams_acoustic_qc so I expect this one will need to be fixed for TOS 7

[2019-06-05 08:50] lbesnard commented on #744
@jonescc I'll definitely need your help.
I don't understand what talend is doing with the times while harvesting text files. It just doesn't make any sense to me.

This harvester harvests 2 files. A static metadata file, as well as a detection file. I just can't get the right time values output via talend.

[2019-06-05 23:42] jonescc commented on #744
No worries.  Looks like its coming in as a string and Xavier was using TalendDate to parse as a date.
Probably just need to append the timezone to the string and specify to parse using the supplied time zone. e.g.

row4.embargo_date.equals("NA")?null:TalendDate.parseDate("yyyy-MM-ddZ",row4.embargo_date+"+00:00")

Means any use of TalendDate.parseDate without doing this is probably suspect.

[2019-06-06 01:50] lbesnard commented on #744
should be fixed by https://github.com/aodn/harvesters/pull/757

[2019-06-06 01:53] lbesnard opened #758 "TalendDate.parseDate and timezone for parsing text files"
It would probably be worse checking all harvesters parsing text files with date values. See issues we had with some AATAMS harvesters:
_Originally posted by @jonescc in https://github.com/aodn/harvesters/issues/744#issuecomment-499295414_

[2019-06-06 01:56] jonescc commented on #744
My bad, TalendDate.parseDate("yyyy-MM-ddZ",row4.embargo_date+"+00:00") doesn't work as using Z only allows +0000.  Needs to be X instead of Z or remove the ':'.   See https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html

[2019-06-06 02:02] ggalibert commented on #744
Can we please list all the harvesters that might be impacted?

[2019-06-06 02:14] jonescc commented on #758
Looks lik ethe following harvesters use parseDate without specifying time zone:

AATAMS_ACOUSTIC_QC
ANFOG_RT
ANMN_NRS_BGC
AODN_AIMS_CTD
AODN_NSW_OEH
AUV_VIEWER_TRACKS
SOOP_AUSCPR
SOOP_BA
SRS_LJCO_AERONET_TS
SRS_OC_BODBAW
SRS_OC_SOOP_RAD

Results of grep for parseDate excluding those specifying the time zone:

[parseDate.txt](https://github.com/aodn/harvesters/files/3259697/parseDate.txt)

[2019-06-06 02:27] lbesnard commented on #744
done here
https://github.com/aodn/harvesters/issues/758

[2019-06-06 02:39] lbesnard commented on #743
this should be fixed here:
https://github.com/aodn/harvesters/pull/759

[2019-06-06 05:57] jonescc opened #761 "AATAMS_ACOUSTIC_QC and AATAMS_ACOUSTIC_REPORTING don't build automatically"
The main harvesting job names for these harvesters don't end with "_harvester" and so they aren't built automatically when merged into master.

This means that someone has to go into jenkins and manually kick off the build using talend_build after changing these and needs to rember the correct details to enter into the job parameters:

Project name | Harvester Name
--- | ---
AATAMS_ACOUSTIC_QC | A

[2019-06-06 07:04] jonescc commented on #744
Resolved by https://github.com/aodn/harvesters/pull/757

[2019-06-06 07:04] #744 closed

[2019-06-06 07:21] jonescc commented on #743
Resolved by https://github.com/aodn/harvesters/pull/759

[2019-06-06 07:21] #743 closed

[2019-09-19 04:19] bpasquer opened #781 "Permission denied to replace view- Talend 7 run in Po Box7"
Running the ANFOG RT harvester after updating variable names in the _map and _data views output an error suggesting that the permission for the 'anfog_rt' role is not correctly set. Note that the issue impacts the views only as writing and updating table is allowed.

 	SELECT measurements.file_id,
 	b.deployment_name,
	b.platform_code,
	b.platform_type,
	b.dive_number,
	a.geospatial_vertical_max,

[2019-09-19 04:21] bpasquer commented on #781
Whether I change the ChangeSet or not doesn't solve the issue. Any suggestions @jonescc ?

[2019-09-23 01:48] jonescc commented on #781
Is this still a problem?  This is a database permission problem so would need to look at whether the user you are using to connect to the database has permission to create the view and if not why.  Most likely a chef database roles/permissions problem.

[2019-09-24 01:24] jonescc commented on #781
Issue tracked to caching of database details by chef.  Owner of anfog_rt schema in db was postgres, but in the cached details it was anfog_rt and so no action was being taken by chef to fix the issue.

I had Bene delete the cached details /var/chef/cache/imos_postgresql/state/* and rerun the chef provisioning step and the ownership was fixed and the view could then be created.

[2019-09-24 01:26] jonescc commented on #781
Raised https://github.com/aodn/chef/issues/882to look at caching issue.

[2019-09-24 01:26] #781 closed

[2020-02-04 23:53] #745 closed

[2020-03-16 01:47] lwgordonimos opened #812 "Deprecated SQL generating warnings in log"
The following harvesters are calling deprecated functions numerous times, causing excessive warnings in the Postgres log:

[code]
These should be updated as follows, to avoid filling the disk up with logs:

[code]

[2021-01-17 23:11] lwgordonimos commented on #633
Closing, as very old.

[2021-01-17 23:11] #633 closed

[2021-07-20 01:48] #278 closed

[2021-07-20 01:49] #402 closed